* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  background: #f0f0f0;
}

#app {
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
  margin: 2rem auto;
  padding: 1.25rem;
  width: 50rem;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

#task-form {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
}

#task-input {
  border: 1px solid #aaa;
  border-radius: 0.25rem;
  flex-grow: 1;
  font-size: 1rem;
  padding: 0.5rem;
}

.button {
  background: #007bff;
  border: none;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.button:hover {
  background: rgb(1, 102, 211);
}

#task-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.task {
  border: 1px solid #aaa;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
}

.task.completed .task-title {
  text-decoration: line-through;
  color: #777;
}

.task-actions {
  display: flex;
  gap: 1rem;
}

.small-button {
  background: none;
  border: none;
  border-radius: 0.25rem;
  color: blue;
  cursor: pointer;
  font-size: 0.875rem;
  text-decoration: underline;
}

.small-button.danger {
  color: red;
}
